<header class="header">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.png" alt="Logo">
    </div>
    <div class="header-burger" (click)="openMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40px" height="22px">
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.0,0.0 L39.999,0.0 L39.999,1.999 L0.0,1.999 L0.0,0.0 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.0,10.0 L39.999,10.0 L39.999,12.0 L0.0,12.0 L0.0,10.0 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.0,19.999 L39.999,19.999 L39.999,21.999 L0.0,21.999 L0.0,19.999 Z"/>
      </svg>
    </div>
    <div [class]="{menu: true, open: isOpen}">
      <div class="menu__close" (click)="closeMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"
             width="50px" height="50px" fill-rule="nonzero">
          <g fill="#821328" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
             font-family="none" font-weight="none" font-size="none" text-anchor="none"
             style="mix-blend-mode: normal">
            <g transform="scale(5.12,5.12)">
              <path
                d="M9.15625,6.3125l-2.84375,2.84375l15.84375,15.84375l-15.9375,15.96875l2.8125,2.8125l15.96875,-15.9375l15.9375,15.9375l2.84375,-2.84375l-15.9375,-15.9375l15.84375,-15.84375l-2.84375,-2.84375l-15.84375,15.84375z"></path>
            </g>
          </g>
        </svg>
      </div>
      <ul>
        <li><a href="#" (click)="scrollTo(productsElement)">Пироженки</a></li>
        <li><a href="#" (click)="scrollTo(advantagesElement)">О нас</a></li>
        <li><a href="#" (click)="scrollTo(orderElement)">Оформить заказ</a></li>
      </ul>
    </div>
    <div class="phone"><a href="tel:{{phone}}">{{phone | phone}}</a></div>
  </div>
</header>

<div class="main">
  <div class="container">
    <div class="main_info">
      <div class="main_info_title">
        Мягкие французские пироженки Macaroons
      </div>
      <div class="main_info_text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main_info_actions">
        <button class="btn main_button" (click)="scrollTo(productsElement)" ButtonEffects
                [defaultButton]="'-webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%'">
          Выбрать макарун
        </button>
      </div>
    </div>
    <div class="main_image">
      <img src="../assets/images/block1_macaroon.png" alt="Macaroons">
    </div>
  </div>
</div>

<div class="advantages" #advantagesElement>
  <div class="container">
    <div class="advantages-wrapper">
      <div class="advantages-info">
        <div class="advantages-title">
          Мы печём для вас вкуснейшие макаруны уже более 10 лет
        </div>
        <div class="advantages-text">Все пироженки мы готовим только из натуральных и качественных продуктов,
          без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
          дрожжей, маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="advantages-image">
        <img src="../assets/images/block2_macaroon.png" alt="Macaroon">
      </div>
    </div>

    <div class="advantages-cards">
      <advantage-card *ngFor="let advantage of advantages; let i = index;" [advantage]="advantage"
                      [index]="i"></advantage-card>

    </div>
  </div>
</div>
<div class="shop" #productsElement>
  <div class="container">
    <div class="shop-title">Выберите свой макарун</div>
    <div class="shop-items">
      <product *ngFor="let product of products" [product]="product" (addToCartEvent)="addToCart($event)"></product>
    </div>
  </div>
</div>

<div class="order" #orderElement>
  <div class="container">
    <div class="order-wrapper">
      <div class="strawberry1"><img src="../assets/images/strawberry1.png" alt="strawberry"></div>
      <div class="strawberry2"><img src="../assets/images/strawberry2.png" alt="strawberry"></div>
      <div class="order-image">
        <img src="../assets/images/block4_macaroon.png" alt="macaroons">
      </div>
      <div class="order-actions">
        <div class="order-action-title">Закажите макарун!</div>
        <div class="order-action-text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
          пекаря!
        </div>
        <div class="order-action-input-title">
          Ваш выбор
        </div>
        <input type="text" class="order-input" placeholder="Напишите, что хотите заказать..."
               [(ngModel)]="formValues.productTitle">
        <div class="order-action-input-title">
          Заполните данные для заказа
        </div>
        <input type="text" class="order-input" placeholder="Ваше имя" [(ngModel)]="formValues.userName">
        <input type="text" class="order-input" placeholder="+375 (__) ___-__-__" [(ngModel)]="formValues.phone">
        <button class="btn order-button" (click)="createOrder()" ButtonEffects
                [defaultButton]="'-webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%'">Оформить
          заказ
        </button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="logo"><img src="./assets/images/logo.png" alt="Logo"></div>
    <div class="rights">Все права защищены, 2020</div>
    <a href="{{instagramLink}}" class="footer-block">
      <div class="footer-image"><img src="./assets/images/instagram.png" alt="instagram"></div>
      <div class="footer-text">Мы в Instagram</div>
    </a>
    <div class="phone"><a href="tel:{{phone}}">{{phone | phone}}</a></div>
  </div>
  <div class="present" *ngIf="showPresent">
    <div class="cart-count-wrap">
      <div class="cart-count">{{cartService.count ?? 0}}</div>
    </div>
    <div class="present-image"><img src="./assets/images/cart.png" alt="cart"></div>
    <div class="present-block" *ngIf="cartService.sum">{{cartService.sum | currency: "RUB":'руб.'}}
    </div>
  </div>
</footer>
